@use '../../styles/partials/mixin' as *;
@use '../../styles/partials/variables' as *;

ul {
  list-style-type: none;
}

.audio {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  margin-bottom: 3rem;

  &__title {
    margin: 1rem 1rem 2rem;
  }

  &__record {
    margin: 4rem 2rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__record-title {
    font-weight: 700;
    font-size: 1rem;
    margin: 1rem;
  }

  &__upload {
    margin: 2rem;
  }
  &__upload-title {
    font-weight: 700;
    font-size: 1rem;
    margin-top: 1rem;
  }
  &__fileselect {
    position: relative;
    right: 1rem;
  }

  &__toggle-spacer {
    margin: 1rem;
  }
}

.student-page {
  position: relative;
  &__studentname {
    margin: 2rem 2rem 0;
    font-size: 3rem;
  }
  &__mission {
  }

  &__today {
  }
}
