@use '../../styles/partials/mixin' as *;

.feedbackselected {
  position: relative;

  &__title {
    background-color: #191918;
    color: white;
    margin: 2rem auto 1rem;
    border-radius: 5px;
    padding: 0.5rem;
    max-width: 50%;

    @include tablet {
      max-width: 20rem;
      margin: 2rem auto 1rem;
      border-radius: 5px;
      padding: 0.5rem;
    }
  }

  &__container {
    margin: 2rem 0 4rem;
  }

  &__list-container {
    border: 1px solid black;
    margin: 1rem auto;
    border-radius: 4px;
    max-width: 60%;
  }
  &__list {
    margin: 1rem;
    color: #191918;
    &:hover {
      color: #ffb400;
    }
  }

  &__feedback {
    margin: 1rem auto;
    background-color: #f1f3f4;
    padding: 1rem;
    width: 60%;
    border-radius: 4px;
  }
}
