@use '../../styles/partials/mixin' as *;

.feedbacklist {
  position: relative;

  &__title {
    background-color: #1c1c19;
    color: white;
    margin: 2rem auto 1rem;
    border-radius: 5px;
    padding: 0.5rem;
    max-width: 50%;
    font-size: 1.5rem;

    @include tablet {
      max-width: 20rem;
      margin: 2rem auto 1rem;
      border-radius: 5px;
      padding: 0.5rem;
      font-size: 2rem;
    }
  }

  &__container {
    margin: 3rem 0 4rem;
  }
  &__list {
    margin: 0.25rem;
    color: #1c1c19;
    &:hover {
      color: orange;
    }
  }
  &__mission {
    font-weight: 700;
    color: rgb(40, 40, 215);
    text-decoration: underline;
  }
}
