@use '../../styles/partials/mixin' as *;
@use '../../styles/partials/variables' as *;

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: start;
  margin: 4rem;

  @include tablet {
    margin: 5rem 5rem;
    flex-direction: row;
    justify-content: center;
  }
  &__title {
    font-size: 3rem;
    max-width: 40rem;
  }

  &__subtitle {
    font-size: 1.25rem;
  }

  &__description {
    display: none;
    margin-top: 1rem;
    font-size: 0;
    color: #1c1c19;

    @include tablet {
      display: block;
    }
  }

  &__image {
    width: 70%;
    display: none;
    @include tablet {
      display: block;
    }
    @include desktop {
      width: 65%;
    }
  }
}

.key-features {
  padding: 2rem 4rem;
  background-color: #fae252;
  text-align: start;
  display: flex;

  @include tablet {
    padding: 2rem 5rem;
  }

  @include desktop {
    padding: 2rem 12rem 3rem;
  }

  &__title {
    font-size: 1.75rem;
    margin-right: 2rem;
    @include desktop {
      margin-right: 5rem;
    }
  }

  &__list {
    display: flex;
    font-size: 0.9rem;
    font-weight: 700;
    margin: auto;
    @include desktop {
      font-size: 1rem;
    }
  }

  &__item {
    margin: 1rem;
  }

  &__icon {
    position: absolute;
  }

  &__image1 {
    width: 20%;
    position: absolute;
    @include tablet {
      width: 15%;
    }
    @include desktop {
      width: 10%;
    }
  }
}

.herostruggle {
  margin: 2rem 5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 3.5rem;

  @include desktop {
    margin: 2rem 12rem;
  }
  &__title {
    font-size: 2.5rem;
    max-width: 40rem;
    text-align: end;
    margin: -2rem 1rem 1rem;
  }

  &__description {
    text-align: end;
    font-size: 1.25rem;
    max-width: 65vw;
    line-height: 2rem;
  }

  &__image {
    width: 40%;
    margin-top: 1rem;
    @include tablet {
      width: 30%;
    }
    @include desktop {
      width: 20%;
    }
  }
}

.targetuser {
  position: relative;
  text-align: start;
  background-color: #1c1c19;
  color: white;
  padding: 3rem 5rem 5rem;

  @include desktop {
    padding: 2rem 12rem;
  }
  &__image {
    width: 50%;
    position: absolute;
    left: 5rem;
    top: -22rem;
  }

  &__title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }

  &__item {
    font-size: 1.25rem;
    font-weight: 700;
    margin: 1.5rem 0;
    width: 50%;
    position: relative;
    @include desktop {
      width: 40%;
    }
  }

  &__image2 {
    position: absolute;
    max-width: 22rem;
    margin-left: 15rem;
    top: 7rem;
    right: 0;
    display: none;
    @include tablet {
      display: block;
    }
    @include desktop {
      width: 60%;
      right: 10rem;
      top: 3rem;
    }
  }
}

.cta {
  margin: 2rem auto;
  padding: 1rem;
  background-color: #1c1c19;
  background-color: white;
  color: #1c1c19;
  // color: white;
  border: 2px solid #1c1c19;
  border-radius: 15px;
  width: 80%;
}
