@use '../../styles/partials/mixin' as *;

.selectedmission {
  padding: 0 3rem 3rem;

  &__title {
    // color: #ff6c02;
    background-color: #191918;
    color: white;
    max-width: 20rem;
    margin: 3rem auto;
    border-radius: 5px;
    padding: 0.5rem;
  }

  &__pre {
    white-space: pre-wrap; // This allows wrapping on long lines
    overflow-wrap: break-word; // This ensures that long words don't overflow
    margin: 2rem 0;
  }

  &__fill-in {
    margin: 2rem 0;
  }
  &__input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__input {
    margin-bottom: 1rem;
    height: 1.7rem;
    padding: 0 1.5rem;
    border: none;
  }

  &__spacing {
    margin: 5rem 0;
  }
}

.showmission {
  // background-color: #ffef94;
  &__title {
    background-color: #191918;
    color: white;
    max-width: 17rem;
    margin: 1rem auto 0.75rem;
    border-radius: 5px;
    padding: 0.5rem;
  }

  &__pattern-title {
    margin: 2rem auto 0.75rem;
    background-color: #191918;
    color: white;
    max-width: 12rem;
    border-radius: 5px;
    padding: 0.5rem;
  }

  &__input-container {
    border: 1px solid black;
    border-radius: 5px;
    padding: 1.5rem 1.5rem 0;

    @include tablet {
      max-width: 50rem;
      margin: auto;
    }
  }

  &__input {
    margin-bottom: 1rem;
    height: 100%;
  }

  &__pattern-container {
    border: 1px solid #191918;
    border-radius: 4px;
    padding-bottom: 1rem;
    max-width: 18rem;
    margin: auto;
  }

  &__pattern-list {
  }
  &__practice-title {
    background-color: #191918;
    color: white;
    max-width: 12rem;
    margin: 2rem auto 0.75rem;
    border-radius: 5px;
    padding: 0.5rem;
  }

  &__practice-detail {
    margin: 0rem 0 2rem;
    font-size: 0.8rem;
  }

  &__breakdown-container {
    @include tablet {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__breakdown {
    border: 1px solid black;
    border-radius: 4px;
    margin: 2rem 0;

    @include tablet {
      border: none;
    }
  }
  &__breakdown-input {
    margin: 2rem 0 2rem;
    @include tablet {
      min-width: 15rem;
    }

    @include tablet {
      text-align: start;
      margin-bottom: 3.5rem;
      max-width: 25vw;
      margin-right: 4rem;
      position: relative;
      top: 2rem;
    }

    @include desktop {
      margin: 4.5rem 4rem 4.5rem;
    }
  }

  &__audio {
    margin: 0.75rem 0 2.5rem;
    @include tablet {
      margin: 3rem;
    }
  }

  &__audio-slow {
    @include tablet {
      margin-top: 2rem;
    }
  }
}
