@use '../../styles/partials/mixin' as *;

.error {
  color: red;
  font-size: 1rem;
  margin: 4rem;
}

.submissions {
  position: relative;
  &__title {
    background-color: #1c1c19;
    color: white;
    margin: 2rem auto 1rem;
    border-radius: 5px;
    padding: 0.5rem;
    max-width: 12rem;
    font-size: 1.5rem;

    @include tablet {
      font-size: 2rem;
      max-width: 20rem;
    }
  }

  &__container {
    margin: 1rem 0;
  }
  &__audio {
    margin: 1rem 0;
  }
}
