// @import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
@use '../../styles/partials/mixin' as *;

.sidebar {
  position: absolute;
  top: -0.6rem;

  width: 100%;
  background: #1c1c19;
  color: rgba(0, 0, 0, 0.87);
  -webkit-clip-path: circle(24px at 30px 24px);
  clip-path: circle(24px at 32px 24px);
  -webkit-transition: -webkit-clip-path 0.5625s, clip-path 0.375s;
  transition: -webkit-clip-path 0.5625s, clip-path 0.375s;
  color: white;
  border-radius: 7px;
  padding-bottom: 2rem;
  z-index: 1;

  &:hover {
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-clip-path: circle(390px at 225px 24px);
    clip-path: circle(390px at 150px 24px);
  }

  @include tablet {
    width: 300px;
    margin-left: 2rem;
  }
}

.navicon {
  padding: 23px 20px;
  cursor: pointer;
  -webkit-transform-origin: 32px 24px;
  -ms-transform-origin: 32px 24px;
  transform-origin: 32px 24px;

  &__menu {
    text-decoration: none;
    display: block;
    line-height: 50px;
    padding: 0 50px;
    color: inherit;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &:hover {
      background: white;
      color: black;
    }
  }
}

.navicon div {
  position: relative;
  width: 20px;
  height: 2px;
  background: white;
}

.navicon div:before,
.navicon div:after {
  display: block;
  content: '';
  width: 20px;
  height: 2px;
  background: white;

  position: absolute;
}

.navicon div:before {
  top: -7px;
}

.navicon div:after {
  top: 7px;
}
