@use '../../styles/partials/mixin' as *;

.footer {
  background-color: #1c1c19;
  color: #fff;
  padding: 20px 0;
  text-align: center;

  &__logo {
    margin: 1rem 0;
  }

  &__email {
    margin: 1rem 0;
    color: white;
  }
  &__social-container {
    margin: 1rem 0;
  }

  &__copyright {
    font-size: 0.75rem;
  }
}

.social {
  &__icon {
    color: #fff;
    padding: 1rem;
    font-size: 20px;

    &:visited {
      color: #fff;
    }

    &:hover {
      color: #00bcd4;
    }
  }
}
